@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
/*
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face{
	font-family:"Dai Banna SIL";
	src: url('./fonts/dbsillo.ttf');
	font-style: italic;
}

/*
@font-face{
	font-family:"Dai Banna SIL";
	src: url('./fonts/dbsillb.ttf');
	font-style:italic;
}


@font-face{
	font-family:"Dai Banna SIL";
	src: url('./fonts/dbsillb.ttf');
}

@font-face{
	font-family:"Dai Banna SIL";
	src: url('./fonts/dbsillb.ttf');
}
*/

body {
	margin: 0;
}

h1 {
	margin: 0;
	font-family:"Dai Banna SIL";
	font-style: italic;
	color: #7b6e4b;
}

h2 {
	font-family:"Dai Banna SIL";
	font-style: italic;
	color: #7b6e4b;
}

h3 {
	color: #7b6e4b;
}

img {
	max-width: 100%;
    margin-left: 10%;
    margin-top: 5%;
}

p {
	font-family: Raleway;
    color: #7b6e4b;
    font-weight: normal;
    margin: 0;
}

#horiz_container{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#first_section {
	background-image: url('./img/newcomb_bg.jpeg');
	background-position: fixed;
	
}

#second_section {

}

#background_top {
	background-image: url('./img/newcomb_bg.jpeg');
    height: 80vh;
    background-size: cover;
}


#bottom_section {
    background-image: url(./img/newcomb_bg.jpeg);
    background-size: cover;
   /* display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    	"image_left titles";
    	*/
}

.image_text_left_right{
	width: 100vw;
	display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    	"image_left titles";
}

.image_left_grid{
	grid-area: image_left;
}

.text_right_grid{
	grid-area: titles;
}

.leader_logo{
	padding-top: 20vh;
}

.brand_id {
	margin-left: 20vh;
}


.green_bar { 
	height: 75px;
	background-color: #129660;
	width: 100vw;

}

.green_bar_pre {
	height: 20px;
	background-color: #5eb246;
}

.partial_page {
	width: 40%;
    padding-left: 10%;
    padding-top: 5%;
}

.title_right{
    margin-top: 30%;
}


@media only screen and (max-width: 850px){
	.partial_page{
		width:80%;
	}
	.image_text_left_right{
	    grid-template-columns: 1fr;
	    grid-template-areas: 
	    	"image_left"
	    	"titles";
	}
	.text_right_grid{
		justify-self: center;
	}
}
