:root {
	--dark-Newcomb-green: #5eb246;
	--light-Newcomb-green: #129660;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -20%, 0);
		        transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -20%, 0);
		        transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
/*
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face{
	font-family:"Dai Banna SIL";
	src: url('./fonts/dbsillo.ttf');
	font-style: italic;
}

body {
	margin: 0;
	overflow-y: hidden;
}

h1 {
	margin: 0;
	font-family:"Dai Banna SIL";
	font-style: italic;
	color: #7b6e4b;
	font-size: 3vw;
}

h2 {
	font-family:"Dai Banna SIL";
	font-style: italic;
	color: #7b6e4b;
}

h3 {
	color: #7b6e4b;
	font-size: 2vw;
}

img {
	max-width: 30%;
    margin-left: 10%;
    margin-top: 5%;
}

p {
	font-family: Raleway;
    color: #7b6e4b;
    font-weight: normal;
    margin: 0;
}

/* 
Loading screen 
*/
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  z-index:20;
  background-color: white;
  top: 59px;
  left: 20px;

  position: absolute;
  top: 40vh;
  left: 43vw;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: var(--dark-Newcomb-green) transparent var(--dark-Newcomb-green) transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
  color: var(--light-Newcomb-green);
}

.subtitle{
	text-align: center;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/* end loading screen */

#loading_screen{
	width: 100vw;
	height: 100vh;
	background-color: white;
	
}

#horiz_container{
	display:-webkit-box;
	display: -webkit-flex;
	display:-ms-flexbox;
	display:flex;
	--webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	
	
	/* overflow-x: scroll; */
	overflow-x: scroll;
	overflow-y: hidden;
	z-index: 20;
	
	-webkit-overflow-scrolling: touch;

}

#first_section{
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	display: inline-block;
	background-image: url('./img/newcomb_bg.jpeg');
    background-size: cover;
	background-attachment: fixed;
	/* height: 100%; */
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    /* justify-content: flex-end; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 5;

    /* */
    overflow-x: hidden;
}

.first_section_mobile{
	background-attachment: scroll !important;

}

.height_hack{
	height: 100vh;
}

div#second_section{
	position: absolute;
	top:0;
	left:0;
}

#second_section{
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	display: inline-block;
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0)), to(#dfd8c0)),url(./img/newcomb_bg.jpeg);
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0), #dfd8c0),url(./img/newcomb_bg.jpeg);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0), #dfd8c0),url(./img/newcomb_bg.jpeg);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), #dfd8c0),url(./img/newcomb_bg.jpeg);
	/* background-image: url('./img/newcomb_bg.jpeg'); */ 
	height: 100vh;
    /*(width: calc(100% - 15px); */
    background-size: cover;
    /* transform: rotateX(180deg); */
    background-attachment: fixed;
    z-index: -1;
    position: fixed;
    width: 100vw;
    overflow-y: hidden;

}

/* Add this to the fixed image to 
prevent accidentally trying to scroll on it ontouch */
.second_section_mobile{
	overflow-x: scroll;
	/* overflow-x: hidden;  */
	/* position: relative; */
	position: relative !important;
	background-attachment: scroll !important;

	display: flex;

}

#footer{
    margin-left: 10%;
}

.leader_logo{
	max-width: 100%;
	margin: 0;
}

.brand_id{
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	margin-right: 2%;
	width: 50vw;
}

.green_bar{
	height: 100vh;
	background-color: #129660;
	width: 75px;
	display: inline-block;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	z-index: 2;
}

.green_bar_post{
	height: 100vh;
	width: 15px;
	background-color: #5eb246;
	display: inline-block;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	z-index: 2;
}

.swipe_indicator{
    background-color: #60b03a;
    width:50px;
	height:200px;
	/* clip-path: polygon(50% 0%, 100% 50%, 50% 100%); */
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 75% 50%);
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 75% 50%);
	/* margin-top: calc(50vh - 100px); */
	margin-right: 20px;
	/*margin-left: calc(100% - 70px);*/
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: calc(50vh - 100px);
	-webkit-transform: translate(20vh,50vh);
	    -ms-transform: translate(20vh,50vh);
	        transform: translate(20vh,50vh);
}

.swipe_buffer{
	opacity: 0.4;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100vw;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    white-space: nowrap;
}

/* Remove the opacity if on mobile; it doesn't render well */

/* was previously display: none; */
.swipe_buffer_mobile{
	display: none;
}

.second_section_text{
    width: 70%;
    margin-left: 10%;	
}

.fadeInAnim{
	-webkit-animation: fadeIn 2s ease-in both;
	        animation: fadeIn 2s ease-in both;
}



.second_section_caption{
	display: inline-block;
	margin: 0;
}

.second_section_caption > h2{
    display: inline-block;
    margin: 0;
}

.second_section_caption > h3{
	display: inline-block;
    margin: 0;
}

.footer_logo{
	margin-top: 2%;
	width: 80%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		/* transform: translate3d(0, -20%, 0);*/
		-webkit-transform: translate(0, -20%);
		        transform: translate(0, -20%);
	}
	to {
		opacity: 1;
		/* transform: translate3d(0, 0, 0); */
		-webkit-transform: translate(0, 0);
		        transform: translate(0, 0);
	}
}

@supports (-ms-ime-align:auto) { 
	.swipe_indicator { 
	    background-color: transparent;
	}
}


@media screen and (max-height: 800px){
	#horiz_container, div#second_section, .green_bar, .green_bar_post {
		/* height: 750px; */ 
	}
	.second_section_grid_container{
		height: 100vh;
		display: -ms-grid;
		display: grid;
		    grid-template-areas: 
		"image caption caption gutter"
		"description description footer gutter";
		-ms-grid-columns: 30% 20% 20% 30%;
		grid-template-columns: 30% 20% 20% 30%;
		-ms-grid-rows: 30% 50%;
		grid-template-rows: 30% 50%;
	}

	.second_section_image{
		grid-area: image;
	}

	.second_section_caption{
		grid-area: caption;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}

	.second_section_text{
		grid-area: description;    
		font-size: 1.8vw;
		margin-top: 10%;
		width: 80%;
	}
	#footer{
		grid-area: footer;
		margin-left: 0%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-item-align: end;
		    -ms-grid-row-align: end;
		    align-self: end;
	}
	.second_section_image>img{
	    max-width: 80%;
	    max-height: 100%;
	}

	.second_section_caption > h2{
		font-size: 2vw;
	}

	div.below_image_container{
		margin-top: 5%;
	}
	img.footer_logo{
		margin-left: 3%;
		margin-top: 10%;
		width: 80%;
		max-width: 100%
	}

}

@media screen and (max-height: 470px){
	.second_section_grid_container{
		display: -ms-grid;
		display: grid;
		    grid-template-areas: 
		"image text text footer buffer"
		"caption text text footer buffer";
		-ms-grid-columns: 20% 30% 20% 10% 20%;
		grid-template-columns: 20% 30% 20% 10% 20%;
	}
	.second_section_image{
		grid-area: image;
	}
	.second_section_caption{
		grid-area: caption;
		margin-left:10%;
	}
	.second_section_text{
		grid-area: text;
		font-size: 1.5vw;
	}
	#footer{
		grid-area: footer;
		font-size: 1.5vw;
	}
	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.second_section_caption{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	#footer{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 4;
	}

}


@media screen and (max-width: 600px) and (min-height: 801px){

	.below_image_container{
		display: -ms-grid;
		display: grid;
		    grid-template-areas: 
		"description"
		"footer";
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr
	}

	.second_section_text{
		grid-area: description;
	}
	#footer{
		grid-area: footer;
		margin-left: 0%;
	}

	.below_image_container > .second_section_text{
		-ms-grid-row: 1;
		-ms-grid-column: 1
	}

	.below_image_container > #footer{
		-ms-grid-row: 2;
		-ms-grid-column: 1
	}

	.below_image_container > #footer{
		-ms-grid-row: 2;
		-ms-grid-column: 1
	}
}

@media screen and (max-width: 600px){
	
	.second_section_caption, #footer{
		margin-left: 10%;
	}

}


/* Smallest size 

320 x 320 until 

*/


@media screen and (min-width: 601px) and (min-height: 801px){

	.second_section_grid_container{
		display: -ms-grid;
		display: grid;
		    grid-template-areas: 
		"image caption . gutter"
		"description description description gutter"
		"footer . . gutter"
		". . . .";
		/* grid-template-rows: 20% . 30%; */
		-ms-grid-columns: 30% 20% 20% 20% 10%;
		grid-template-columns: 30% 20% 20% 20% 10%;
		height: 100vh;
	}

	.second_section_image{
		grid-area: image;
	}

	.second_section_image>img{
		max-width: 70%;
	}

	.second_section_caption{
		grid-area: caption;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}

	.second_section_text{
		grid-area: description;
	}

	#footer{
		grid-area: footer;
	}

	#footer > img{
		max-width: 80%;
		text-align: center;
		margin-left: 0;
	}

	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.second_section_caption{
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
	}

	.second_section_text{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}

	#footer{
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
	}

	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.second_section_caption{
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
	}

	#footer{
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
	}

	.second_section_text{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}

	#footer{
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
	}

}


@media screen and (max-height: 800px) {
	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.second_section_caption{
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		-ms-grid-column-span: 2;
	}
	.second_section_text{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}
	#footer{
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		-ms-grid-column: 3;
	}
	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.second_section_caption{
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		-ms-grid-column-span: 2;
	}
	#footer{
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		-ms-grid-column: 3;
	}
	.second_section_text{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}
	#footer{
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		-ms-grid-column: 3;
	}
	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.second_section_caption{
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		-ms-grid-column-span: 2;
	}
	.second_section_text{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}
	#footer{
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		-ms-grid-column: 3;
	}
}


@media screen and (max-height: 470px) {
	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.second_section_caption{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	.second_section_text{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 2;
		-ms-grid-column-span: 2;
	}
	#footer{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 4;
	}
	#footer{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 4;
	}
	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.second_section_caption{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
	#footer{
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		-ms-grid-column: 4;
	}
}


@media screen and (min-width: 601px) and (min-height: 801px) {

	.second_section_image{
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.second_section_caption{
		-ms-grid-row: 1;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
	}

	.second_section_text{
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}

	#footer{
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
	}
}


@media screen and (max-width: 600px) and (min-height: 801px) {

	.below_image_container > .second_section_text{
		-ms-grid-row: 1;
		-ms-grid-column: 1
	}

	.below_image_container > #footer{
		-ms-grid-row: 2;
		-ms-grid-column: 1
	}

	.below_image_container > .second_section_text{
		-ms-grid-row: 1;
		-ms-grid-column: 1
	}

	.below_image_container > #footer{
		-ms-grid-row: 2;
		-ms-grid-column: 1
	}
}


@media screen and (max-width: 1000px){
	#footer{
		align-self: start;
	}
}

@media screen and (max-height: 680px){
	.second_section_text{
		font-size: 1.5vw;
	}
}

@media screen and (min-width: 1520px){

	.second_section_grid_container{
		grid-template-areas: 
		"image caption . gutter"
		"description description description gutter"
		"footer wide-text . gutter"
	}

	.second_section_text{
		font-size: 1vw;
	}
	#footer {
		display: flex;
	}
	#footer > img{

		grid-area: wide-image;
	}
	#footer > .wide_text{
		grid-area: wide-text;
	}
}

@media screen and (min-width: 1520px) and (max-height: 801px){

	.second_section_grid_container{
		    grid-template-areas: "image caption . gutter" 
		    "description description footer gutter";
	}
	#footer{
		align-self:start;
	}
}


@media screen and (min-width: 1520px) and (max-height: 470px){
	.second_section_text{
		grid-area: description;
	}
}
