.details-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  top: 0;
  left: 0;
  padding: 24px 96px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../static/images/bg.jpg") no-repeat;
  background-size: cover;
  font-family: $font-family-text;
}

.personal {
  display: grid;
  grid-template-areas: "picture info";
  grid-template-rows: 254px;
  grid-template-columns: 218px 420px;
}


.portrait {
  display: flex;
  grid-area: picture;
  flex-direction: column;
  justify-content: center;
}

img#Portrait {
  width: 100%;
}

.name-title {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 1.4em;
  font-weight: bolder;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-logo-wrapper {
  width: 120px;
}

@media screen and (min-width: 493px) and (max-height: 447px){
  img#Portrait{
    width: 40vh;
  }
  .personal{
    grid-template-rows: 30vh;
  }
  .details-content{
    font-size: 2vh;
  }
}


@media screen and (max-width: 695px){
  .details-content{
    font-size: 2vh;
  } 

  .personal{
    grid-template-rows: 32vh;
  }

}


@media screen and (max-width: 492px){
  .details-content{
	padding: 24px 0px 24px 96px;
  }

}

